
*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

.Container{
 margin:0 auto;
 border:1px solid orange;
 width:300px;
}


#calc-display{
 background-color: black;
 width:300px;
 height:100px;
 color:white;
 display:flex;
 text-align: right;
 flex-direction: column;
}

#eq{
 font-size:1rem;
 margin-top:10px;
 padding:5px;
}

#dis{
 margin-top:30px;
 padding:5px;
 font-size:1rem;
}

.grid{
 display:grid;
 grid-template-columns: auto auto auto auto;
}

.grid>button{
  height:40px;
  cursor: pointer;
}

.row{
 grid-column: 1 / span 2;
}

.sign,.clear,.percent{
 background-color: rgb(160, 160, 160);
 border:0.5px solid  black;
 outline:none;
}

.num{
 background-color: rgb(119, 118, 118);
 border:0.5px solid  black;
 outline:none;
}

.oper{
 background-color: orange;
 border:0.5px solid  black;
 outline:none;
}

button:hover{
 box-shadow:0px 0px  5px rgb(0, 0, 0);;
}



